.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    margin:0rem 7rem;
    @media (max-width: 768px) {
     margin: 0 4rem; // Display on small devices
    }
  }
  $bgcolor: #005777;
  .logo {
 
    width: 120px;
    height: 10vh;
  
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .signup {
    padding: 8px 16px;
    background-color: #e7660f ;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .signin
  {
    color:$bgcolor;
    margin-right: 10px;
  }
  