@use "../variables.module";
@use '../mixins.module';
.maindiv{
  background-color:  variables.$bg-color;
padding-bottom: 1rem;
.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr; // Two columns with equal width
    grid-gap: 10px;
 padding:7rem 5rem 0rem 5rem;
    
    h1 {
        font-size:50px;
        font-weight: 600;
        color:  variables.$primary-color ;
     }
     h4 {
        font-size:15px;
        font-weight:500;
        color:  variables.$primary-color ;
        margin-bottom: 20px;
     }
    .childgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 10px;
        .childrow {
           display: flex;
         
              .childcolleft {
                width: 2%;
                background-color: aqua;
                
                border-radius: 5px 0 0 5px;
              }
            
              .childcolmiddle {
                width: 90%;
                background-color: #013a4d;
                padding: 8%;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            
              .childcolright {
                width: 8%;
                background-color: variables.$primary-color;
                
                border-radius: 0 5px 5px 0;
                display: flex;
             justify-content: center;
              align-items: center;
             svg
             {
              color: white;
              font-size: 30px;
            
            
             }
  
              }
         
               
         }
      
      }
      .imageContainer{
        padding: 0 5rem;
      } 

  }
}
@include mixins.mobile {
  .imageContainer{
display:none;
  } 
}
