@use "../../components/variables.module";
@use "../../components/mixins.module";
.maindiv{
  margin: 0 5rem;
  .mainheadline{
    
      font-size: 60px;
      font-weight: 400;
      span {
        font-size: 40px;
        font-weight: 100;
      }
    
  }
.container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 2rem;


  .heading {
    font-size: 34px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 12vh;
    align-items: center;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

    img {
      max-width: 40vh;
      max-height: 100vh;
    }
  }

  .row {
    display: flex;
    gap: 30px;
 h2{
  font-size: 20px;
  font-weight: normal
  
 }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 33.34%;
      height: 8vh;
      border-radius: 4px;
      background-color: #f1f2f6;
      margin: 20px 0;
      font-size: 20px;
   
    
    select {
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 20px;
    }
  }
    
  }



  .rightrow {
    display: flex;
    gap: 30px;
    div {
      padding: 0 10px;
      width: 50%;
      height: 8vh;
      border-radius: 4px;
      background-color: #f1f2f6;
      margin: 15px 0;
      font-size: 20px;

      select {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        font-size: 16px;
        outline: none;
        font-size: 20px;
       font-weight: normal;
        white-space: pre-line;
      }
    }
  
    
  }
  .textarea{
    padding: 10px;
    width: 100%;
    height: 18vh;
    border-radius: 4px;
    background-color: #f1f2f6;
    margin-top: 5px;
    margin-bottom: 20px ;
  
    outline: none;
    &::placeholder {
      /* Customize placeholder styles here */
      font-size: 20px;
      color: #000;
    }
    
   }
}
}
