@use "../variables.module";
@use '../mixins.module';
.topic{
    padding:  2rem;
    h1 {
        font-size:50px;
        font-weight: 600;
        color:  variables.$primary-color ;
     
    }
   .desc{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    p{
     color:#1581a8; 
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.8px solid #e67104;
        border-radius: 8px;
        padding: 10px 20px;
        color: #e67104;
        font-size: 16px;
        cursor: pointer;
      
        svg {
          /* Customize SVG styles */
          width: 15px;
          height: 15px;
        }
      }


   } 
   .imageContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; 
  }
  
  .gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gridItem img {
    max-width: 100%;
    max-height: 100%;
  }
   
}
@include mixins.tablet {

 
    .desc{
      display: block;
    }
  
}
@include mixins.tablet {

  .topic{
    padding: 5rem;
  
  }
}