@use "../variables.module";
@use '../mixins.module';

.topic{
  padding-top:5rem;
  padding-left: 5rem;
  padding-right: 5rem;
    h1 {
        font-size:50px;
        font-weight: 600;
        color:  variables.$primary-color;
     
    }
   .desc{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    p{
     color:variables.$primary-color; 
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.8px solid #e67104;
        border-radius: 8px;
        padding: 10px 20px;
        color: #e67104;
        font-size: 16px;
        cursor: pointer;
      
        svg {
          /* Customize SVG styles */
          width: 15px;
          height: 15px;
        }
      }


   } 
}
.customDots {
    display: flex;
    justify-content: center;
  
      list-style: none;
   
    
    
  }
  
  .customDot {
    width: 20px;
    height: 5px;
    border-radius: 10px;
    background-color: gray;
    margin: 2px;
    cursor: pointer;
    
  }
  
  .activeDot {
    background-color: variables.$primary-color;
  }
  
  .customDotContainer {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
 .slider {
  padding: 2rem 5rem ;
 }
 @include mixins.mobile {
  .topic{
    margin: 0 2rem;
    .desc{
      display: block;
    }}
  .slider {
    padding: 2rem ;
   }
}
  
  